<!DOCTYPE html>
<html>
<head><title>Add Event</title></head>
<body>
  <h1>Add a Club Event</h1>
  <form method="POST" enctype="multipart/form-data">
    <input name="title" placeholder="Event Title"><br><br>
    <input name="club" placeholder="Club Name"><br><br>
    <input name="location" placeholder="Event Location"><br><br>
    <textarea name="description" placeholder="Event Description"></textarea><br><br>
    <input name="date" type="date"><br><br>
    <label>Upload Flyer:</label>
    <input type = "file" name= "flyer" accept ="image/*"><br><br>
    <button type="submit">Submit</button>
  </form>
  <a href="/">Back to Events</a>
</body>
</html>